@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-light: #F1F5F9;
  --bg-dark: #1C2434;
  --bg-blue: #007aff;
  --bg-white: #FFFFFF;
  --hover-light: #64748b;
  --hover-dark: #6466692c;
  --font-light: #dee4ee;
  --font-dark: #1c2434;
  --font-white: #FFFFFF;
  --border-primary: #e2e8f0;
}

body {
  background-color: var(--bg-light);
  color: var(--font-dark);
}